/* IMPORTS */
@use '../../utils/utils' as u;

// ABOUT
.About {
  margin-top: calc(50px + (100 - 40) * ((100vw - 300px) / (1600 - 300)));

  display: flex;
  justify-content: center;
  flex-direction: column;
  .About__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .About__subtitle {
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 2.5em;
  }
}

.About__description{
  justify-self: flex-end;
  margin: calc(100px + (50 - 100) * ((100vw - 300px) / (1600 - 300))) 0;
  padding: 0 3ch;
  p{
    font-style: italic;
    padding-bottom: 25px;
  }
  a{
    font-weight: 700;
    text-decoration: underline;
  }
}
