@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.about {
  display: flex;
  flex-direction: column;
  p {
    margin-top: 10px;
  }

  .about__intro {
    height: calc(100vh - 50px);
    text-align: right;
    flex-direction: column;
    padding: 25px;
    .about__intro__title {
      font-family: "Press Start 2P", cursive;
      margin-top: 150px;
      font-size: calc(16px + (72 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
    .about__intro__subtitle {
      font-size: 1.5em;
    }
    .about__more {
      position: relative;
      margin-top: 25px;
    }
  }
}

.about__description__show {
  max-height: 10000px;
  overflow: hidden;
  transition: max-height .3s ease;
}
.about__description__hide {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .3s ease;
  }
