/* IMPORTS */
@use '../../utils/utils' as u;

// ABOUT
.About {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .About__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .About__subtitle {
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 2.5em;
  }
}
