/* IMPORTS */
@use "../../utils" as u;

.Bio {
  h1 {
    text-align: center;
  }
  .ScrollToTop__Bio{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 25px;
  }
  .Bio__description__wrapper{
    // margin: 50px 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
  .Bio__img{
    text-align: center;
    img{
      object-fit: cover;
      object-position: 0% 0%;
      filter: grayscale(100%);
      height: 150px;
      width: 150px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  .Bio__description{
  }
  .Bio__section:nth-child(odd){
    background-color: #d3d5d450;
  }
  .Bio__section {
    max-width: calc(800px + (1200 - 800) * ((100vw - 300px) / (1600 - 300)));
    margin: 0 auto;
    text-align: center;
    h2{
      text-align: center;
      margin-bottom: 10px;
    }
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .Bio__item {
    .Bio__item__header p{
      font-weight: 700;
    }
    margin-bottom: 25px;
    .Bio__item__inner {
      font-style: italic;
      .Bio__item__description{
        font-style: normal;
        margin-top: 5px;
      }
    }
  }
  .Bio__item:last-child{
    margin-bottom: 0;
}
}

@media only screen and (min-width: 800px) {
  .Bio {
    .Bio__description{
      text-align: start;
    }
    .Bio__section {
      display: grid;
      grid-template-columns: 1fr 3fr;
      text-align: start;
      h2{
        text-align: start;
        margin-bottom: 0;
      }
    }
    .Bio__item__inner{
      margin-left: 25px;
    }
    .Bio__description__wrapper{
      grid-template-columns: 1fr 3fr;
      padding: 20px;
    }
    .Bio__img{
      img{
        height: 200px;
        width: 200px;
      }
    }
  }
}
