/* IMPORTS */
@use "../../utils" as u;

.Bio{
    h1{
        text-align: center;
    }
    .Bio__description{
        margin: 50px 0;
    }
    .Bio__section{
        h2{
            text-align: center;
            margin-bottom: 25px;
        }
        margin-bottom: 50px;
        
        .Bio__section__list{
            .Bio__item{
                margin: 25px 0;
                .Bio__item__header{

                }
                .Bio__item__inner{
                    margin-left: 35px;
                    .Bio__role, .Bio__location{
                        font-style: italic;
                    }
                    .Bio__item__description{
                        margin-left: 50px;
                    }
                }
            }
        }
    }

}