/* IMPORTS */
@use '../../utils/utils' as u;
// FOOTER
.Footer {
  min-height: 100vh;
  background-color: u.$secondaryColor;

  .contact__description {
    padding: 150px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      text-align: right;
      font-size: u.$subheadingSize;
      font-weight: 600;
      max-width: calc(200px + (500 - 200) * ((100vw - 300px) / (1600 - 300)));
    }
    p{
      margin-top: 50px;
    }
    a {
      color: white;
    }
    a:hover{
      color: u.$primaryColor;
    }
  }

  .copyright {
    margin: 15px;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    justify-content: center;
  }

  @media only screen and (min-width: 1000px) {
    .contact__description {
      padding: 50px 150px;
    }
  }
}