@use '../../utils/utils' as u;

.resume {
  margin-top: 75px;
  h1 {
    text-align: center;
    font-family: u.$headingFamily;
    font-size: u.$headingSize;
  }
  h2 {
    font-size: u.$subheadingSize;
    align-self: flex-start;
    margin: 10px 0;
  }
  .resume__description{
    margin: 10ch 0;
  }
  .resume__section:nth-child(odd){
    background-color: whitesmoke;
  }
  .resume__section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
  }
  .resume__item {
    margin: 0 0 25px 0;
    .resume__item__header{
      position: relative;
      .resume__item__description__toggle svg {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .resume__item__inner {
      font-style: italic;
      .resume__role{
        font-weight: 700;
      }
    }

    .resume__item__description {
      transition: 0.2s max-height;
    }
  }
}

@media only screen and (min-width: 700px) {
  .resume {
    .resume__section {
      display: grid;
      grid-template-columns: 1fr 3fr;
      text-align: left;
    }
    .resume__item__inner{
      margin-left: 25px;
    }
  }
}
