/* IMPORTS */
@use '../../utils/utils' as u;

.Work {
  padding: 0 20px;
  h1 {
    text-align: center;
  }
  H2{
    text-align: center;
  }
  .Work__category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 50px 0;
    svg {
      height: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
      width: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
    }
    .active {
      color: u.$secondaryColor;
    }
  }
  .Work__grid {
    
    column-count: 2;
    column-gap: 10px;
    .Work__item {
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: 10px;
      break-inside: avoid;
      img {
        width: 100%;
        display: block;
        grid-row: 1 / -1;
        grid-column: 1;
      }
      p {
        background-color: white;
        padding: 0.2em 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .Work {
    padding: 0 150px;
    margin-top: 100px;
  }
  .Work .Work__grid {
    column-count: 3;
  }
}
