@use '../../utils' as u;

.workpage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  position: relative;
  .workpage__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    .workpage__images__item {
      margin: 25px;
      p {
        text-align: center;
      }
      img {
        max-width: 100%;
        background-color: white;
      }
    }
  }
  .workpage__text {
    h2 {
    }
    .workpage__text__metadata {
      margin-bottom: 15px;
      font-weight: bold;
    }
    .workpage__text__content {
    }
  }
  .workpage__back {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 25px;
  }
}
