/* IMPORTS */
@use "../../utils" as u;

.Work {
  .Work_filter {
    margin: 100px 0 50px;
    display: flex;
    gap: 15px;
    align-items: center;

    button {
      background-color: u.$secondaryColor;
      border: 1px solid u.$secondaryColor;
      border-radius: 10px;
      color: u.$primaryColor;
      padding: 10px 20px;
      cursor: pointer;
      transition: 0.25s;
      font-size: u.$textSize;
    }
    button:hover,
    .Work_filter_active {
      background-color: u.$highlightColor;
      color: u.$backgroundColor;
    }
  }
  .Work_list {
    .Work_grid_item {
      display: flex;
      width: fit-content;
      a {
        text-decoration: none;
      }
      h2 {
        font-size: 4vw;
        color: u.$primaryColor;
      }
      h2:hover {
        color: u.$highlightColor;
      }
      .Work_grid_item_filter {
        color: u.$secondaryColor;
      }
      img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50vh;
        z-index: -1;
        border-radius: 10px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .Work {
    .Work_filter {
      gap: 5px;
      button {
        padding: 10px;
      }
    }

    .Work_list {
      .Work_grid_item {
        display: flex;
        width: fit-content;
        flex-direction: column;
        position: relative;
        a {
          text-decoration: none;
        }
        h2 {
          font-size: 4vw;
          color: u.$primaryColor;
        }
        h2:hover {
          color: u.$highlightColor;
        }
        .Work_grid_item_filter {
          color: u.$secondaryColor;
          
        }
        img {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 50vh;
          z-index: -1;
          border-radius: 10px;
        }
      }
      .Work_grid_item_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        a {
          text-decoration: none;
        }
        h2 {
          font-size: 4vw;
          color: u.$primaryColor;
          text-align: center;
        }
        h2:hover {
          color: u.$highlightColor;
        }
        .Work_grid_item_filter {
          color: u.$secondaryColor;
          opacity: 50%;
        }
        img {
          height: 50vh;
          z-index: -1;
          border-radius: 10px;
        }
      }
    }
    
  }
}
