.Work__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  .Work__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .Work__item__description{
      margin-top: 15px;
    }
  }
}

  @media only screen and (min-width: 1000px) {
    .Work__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }