@use '../../utils' as u;

.workpage {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 25px;
  position: relative;
  .workpage__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    .workpage__images__item {
      margin-bottom: 25px;
      .player-wrapper {
        // position: relative;
        // padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
        display: flex;
        justify-content: center;

      }
      // .react-player {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      // }
      p {
        text-align: center;
      }
      img {
        max-width: 100%;
        // background-color: white;
      }
    }
  }
  .workpage__text {
    .workpage__text__heading {
      margin-bottom: 25px;
    }
    .workpage__text__metadata p {
      margin-bottom: 15px;
      font-weight: 900;
    }
    .workpage__text__content {
      margin-bottom: 15px;
    }
  }
  .workpage__back {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .workpage {
    grid-template-columns: none;
  }
}
