@use '../../utils/utils' as u;

.work__page {
  .work__page__title {
    text-align: center;
    h1 {
      font-family: u.$headingFamily;
      font-size: u.$headingSize;
    }
  }
  .work__page__content {
    .work__images {
      margin: 0 auto;
      img {
        max-width: 800px;
      }
    }
    .work__text {
    }
  }
  .back__button {
    margin-top: 50px;
  }
}