@use 'utilities' as u;

.about {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  p {
    margin-top: 10px;
  }

  .about__intro {
    text-align: right;
    flex-direction: column;
    margin-top: 100px;

    .about__intro__title {
      h1:last-child{
        margin-top: -10px;
      }
    }
    .about__intro__subtitle {
      font-size: u.$subheadingsize;
    }
  }

  .about__description{
    margin-top: 50px;
    transition: 0.5s max-height cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
  }

  .about__description__show {
    max-height: 300px;
    a{
      text-decoration: underline;
    }
  }
  .about__description__hide {
    max-height: 0px;
  }

  .about__more {
    text-align: right;
    position: relative;
    margin-top: 15px;
  }
}
