@use "utilities" as u;

.App {
  padding: 20px 20px;
  .title_text{
    font-family: u.$headingfamily;
    font-size: u.$headingsize;
  }
  a {
    color: u.$primary-color;
    transition: color 0.2s;
    text-decoration: none;
  }
  a:hover {
    color: u.$secondary-color;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    padding: 20px 150px;
  }
}
