@use 'utilities' as u;

footer {
  position: relative;
  min-height: 100vh;

  .footer__bg {
    background: u.$primary-color no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: absolute;
    top: 0;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
  }

  .contact__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      color: white;
      text-align: right;
      font-size: u.$subheadingsize;
      font-weight: 600;
      max-width: calc(200px + (500 - 200) * ((100vw - 300px) / (1600 - 300)));
      padding: 75px 0;
    }
    a {
      color: u.$secondary-color;
    }
  }

  .copyright {
    color: white;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    justify-content: center;
  }

  @media only screen and (min-width: 1000px) {
    .footer__bg {
      left: -200px;
      right: -200px;
    }
  }
}