// ARCHIVE
// $background-color:  rgb(199, 0192, 184);
// $middle-cross: rgb(170,170,170);
// $line-color: rgba(0,0,0,.05);
// $line-color-strong: rgba(0, 0, 0, 0.04);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

// COLORS
$background-color:  rgb(255, 255, 255);
$middle-cross: rgb(255, 255, 255);
$line-color: rgba(255, 255, 255, 0.05);
$line-color-strong: rgba(255, 255, 255, 0.04);

$primary-color:rgba(42, 42, 42, 1);
$secondary-color: rgb(219, 117, 70);

// FONTS
$textsize: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
$headingsize: calc(40px + (150 - 40) * ((100vw - 300px) / (1600 - 300)));
$subheadingsize: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));

$textfamily: "Poppins", sans-serif;
$headingfamily: "Montserrat Subrayada", sans-serif;

// SHADOWS

$shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.5);
