@use 'utilities' as u;

.work__page{
    margin: 75px 0;
    h1{
        font-family: u.$headingfamily;
        font-size: u.$headingsize;
    }
    .work__page__content{
        margin: 50px 0;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
        .work__text{
        }

        .temp_images{
            width: 100%;
            background-color: black;
        }
    }
}

@media only screen and (max-width: 750px) {
    .work__page .work__page__content{
        grid-template-columns: 1fr;
    }
  }