/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

// COLORS
// $backgroundColor: rgb(26, 26, 26);
// $primaryColor: rgb(239, 236, 224);
// $secondaryColor: rgb(34, 34, 34);
// $highlightColor: rgb(0, 105, 166);

// COLORS
$backgroundColor: #faf8f9;
$primaryColor:  #151514;
$secondaryColor: #C3BFC2;
$highlightColor: #7d776D;

// FONTS
$headingSize: calc(30px + (75 - 30) * ((100vw - 300px) / (1600 - 300)));
$subheadingSize: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
$textSize: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$headingFamily: 'Space Grotesk', sans-serif;
$textFamily: "Poppins", sans-serif;