.App {
  position: relative;
  a {
    color:BLACK;
    text-decoration: underline;
  }
  a:hover{
    color: white;
}
}

@media only screen and (min-width: 100px) {
  .App {
    padding: 20px 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .App {
    padding: 20px 200px;
  }
}
