/* IMPORTS */
@use './utils' as u;

/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: u.$backgroundColor;
  overflow-x: hidden;
  // FONTS
  font-family: u.$textFamily;
  color: u.$primaryColor;
  font-size: u.$textSize;
  h1 {
    font-family: u.$headingFamily;
    font-size: u.$headingSize;
  }
  h2 {
    font-family: u.$textFamily;
    font-size: u.$subheadingSize;
  }
  a {
    color: u.$primaryColor;
    transition: color 0.2s;
  }
  a:hover {
    color: u.$highlightColor;
    cursor: pointer;
  }
}
// HIGHLIGHT COLOR
::selection {
  background: u.$highlightColor; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: u.$highlightColor; /* Gecko Browsers */
}
// SCROLLBAR
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: u.$primaryColor;
}