@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-size: calc(12px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Poppins', sans-serif;
}
// BACKGROUND GRID
body{

  overflow-x: hidden;

  background:
  linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
  linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
  linear-gradient(transparent 3px, rgb(199, 192, 184) 3px, rgb(199, 192, 184) 78px, transparent 78px),
  linear-gradient(-90deg, #aaa 1px, transparent 1px),
  linear-gradient(-90deg, transparent 3px, rgb(199, 192, 184) 3px, rgb(199, 192, 184) 78px, transparent 78px),
  linear-gradient(#aaa 1px, transparent 1px),
  rgb(199, 192, 184);

background-size:
  4px 4px,
  4px 4px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px;
}

// HIGHLIGHT COLOR
::selection {
  background: #ffffff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffffff; /* Gecko Browsers */
}

// SCROLLBAR
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5)
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: black;
}