/* IMPORTS */
@use "../../utils" as u;

.nav__header {
    .nav_title {
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 999;
    }
}

nav {
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    position: fixed;
    z-index: 998;
    background-color: u.$secondaryColor;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    .nav__content {
        width: 100%;
        text-align: center;
        .nav__main a{
            margin: 25px;
        }
        .nav__footer {
            margin-top: 50px;
            display: flex;
            gap: 50px;
            justify-content: center;
            svg path{
                fill: u.$primaryColor;
            }
        }
    }
}
