@use "../../utils" as u;
/* IMPORTS */

nav {
    position: fixed;
    top: 0;
    z-index: 998;
    .nav__header {
        .nav_title{
            position: fixed;
            bottom: 0;
            right: 0;
            height: 70px;
            width: 70px;
            margin: 20px;
            z-index: 999;
            text-decoration: none;
            border-radius: 50%;
            background-color: u.$secondaryColor;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nav_title:hover{
            color: white;
            background-color: u.$highlightColor;
        }
    }
}
