/* IMPORTS */
@use '../../utils/utils' as u;

/* NAV */
.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  z-index: 999;
  // NAV MENU
  #Nav__menu {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    .Nav__menu__main {
      h1 {
        font-size: 4em;
        margin: 25px;
      }
    }
    .Nav__menu__footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: space-around;
      display: flex;
      font-family: u.$headingFamily;
      margin: 10px;
      font-size: 1.5em;
    }
  }
  .Nav__menu__open {
    height: 100vh;
  }
  .Nav__menu__close {
    overflow: hidden;
    height: 0;
    opacity: 0%;
  }
}

@media only screen and (min-width: 1000px) {
  .Nav {
    padding: 20px 150px;
  }
}

  /* NAV ICON */
  $icon4-height: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
  $icon4-width: calc(1.414213 * #{$icon4-height});
  #nav-icon4 {
    width: $icon4-width;
    height: $icon4-height;
    justify-self: right;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: u.$primaryColor;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4 span:nth-child(2) {
    top: calc(#{$icon4-height} / 2);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4 span:nth-child(3) {
    top: calc(#{$icon4-height} / 1);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
  }

  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  #nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: $icon4-height;
    right: 0px;
  }

